.apli-browser {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apli-cont {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid black;
    gap: 5px;
}

.apli-ctrl {
    display: flex;
    gap: 15px;
}