.logo {
  width: 300px;
  height: auto;
}

.main-side {
  border-right: 1px solid var(--secondary);
  color: var(--secondary);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px 0 15px;
}

.group-title {
  text-align: center;
}

.group-divider {
  margin: 5px 0 5px 0;
}