:root {
  --background: #15191d;
  --surface: #212529;
  --primary: #FF4500;
  --on-background: #ffffff;
  --on-surface: #ffffff;
  --on-primary: #ffffff;
}

@font-face {
  font-family: "Exo2";
  src: url(/static/fonts/Exo2-VariableFont_wght.ttf) format("truetype");
}

* {
  margin: 0;
  box-sizing: border-box;
}

a, button {
  all: unset;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  background-color: var(--background);
  font-family: Exo2;
}

/*------------------------- components/header.stpl ---------------------------*/

.main-header {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  color: var(--on-surface);
  background-color: var(--surface);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 4;
}

.kapakka {
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
  color: var(--primary);
}

.navbar {
  display: flex;
  gap: 20px;
}

.navbar-mobile {
  display: none;
  height: 100%;
  max-height: 30px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 300px;
  height: 100vh;
  background-color: var(--surface);
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow-y:auto
}

.mobile-canvas {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
}

.mobile-menu-close {
  display: flex;
  height: 30px;
}

.svg-m {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 30px;
  font-size: 16px;
}

.svg-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  max-height: 40px;
}

.svg-a:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.icon {
  height: 100%;
  width: auto;
}

.inactive {
  color: var(--background);
}

.divider {
  width: 1px;
  background-color: white;
}

.h-divider {
  height: 1px;
  background-color: white;
}

@media only screen and (max-width: 768px) {
  .main-header {
    height: 60px;
    padding: 0 15px;
  }

  .kapakka {
    font-size: 30px;
  }

  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
  }
}

/*----------------------------------------------------------------------------*/

.content {
  grid-row: 2;
  min-height: calc(100vh - 120px);
}

@media only screen and (max-width: 768px) {
  .content {
    min-height: calc(100vh - 100px);
  }
}

/*------------------------- components/footer.stpl ---------------------------*/

.footer {
  grid-row: 3;
  display: flex;
  justify-content: center;
  gap: 10px;
  color: var(--on-background);
  margin: 10px;
  font-size: 14px;
}

/*------------------------------- index.stpl ---------------------------------*/

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.selector {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 0px;
  scrollbar-width: none;
  user-select: none;
  z-index: 1;
  width: 100%;
  mask-image: linear-gradient(90deg, #000 90%, transparent);
}

.reply-btn,
.selector-btn--active,
.selector-btn--inactive,
.selector-btn {
  flex: 0 0 auto;
  padding: 6px 10px 6px 10px;
  border-radius: 7px;
}

.reply-btn,
.selector-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  background-color:var(--surface);
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
}

.selector-btn--active {
  color: var(--background);
  background-color: white;
}

.selector-btn--inactive {
  color: gray;
  background-color:#212121;
}

.nsfw-marker {
  color: var(--primary);
  font-size: 14px;
}

.logo {
  width: calc(100% - 30px);
  max-width: 600px;
  margin: 40px 0px;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-index {
  width: calc(100vw - 30px);
  max-width: 1200px;
}

.card {
  padding: 15px;
  color: var(--on-surface);
  background-color: var(--surface);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post-preview {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sub-header {
  color: var(--on-background);
}

.board-n {
  color: var(--primary);
}

.kapakka-desc {
  font-size: 18px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .selector {
    display: none;
  }

  .logo {
    margin: 15px 0px;
  }

  .kapakka-desc {
    font-size: 14px;
  }
}

/*------------------------------- board.stpl ---------------------------------*/

.board-selector {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100vw;
  padding: 0px 20px
}

.reply-btn,
.post-btn {
  margin: 10px 0px;
}

.board-head {
  display: flex;
  padding: 0px 20px
}

.board-head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--on-surface);
  background-color: var(--surface);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: calc(100vw - 40px);
  border-radius: 5px;
  padding: 10px;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 10px 20px;
}

.post {
  background-color: var(--surface);
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-width: 0;
}

.post-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 115px;
}

.post-body-info {
  display: flex;
  justify-content: space-between;
  height: 17px;
  color: var(--primary);
  font-size: 15px;
}

.replies {
  display: flex;
  gap: 3px;
}

.post-rply {
  font-size: small;
  color: gray;
}

.post-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--on-surface);
  margin-top: 5px;
}

.post-msg {
  overflow: hidden;
  white-space: pre-line;
  word-break: break-word;
  color: var(--on-surface);
  font-size: 14px;
  max-height: 65px;
}

.image-container {
  display: grid;
  width: 100%;
  height: 140px;
  border-radius: 5px;
  overflow:hidden;
}

.post-img {
  width: 100%;
  height: 140px;
  object-fit: contain;
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 2;
}

.no-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--on-primary);
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 3;
  background-color: var(--background);
  color: var(--primary)
}

.post-bg-img {
  width: 100%;
  height: 140px;
  grid-column-start: 1;
  grid-row-start: 1;
  object-fit: cover;
  filter: blur(8px);
  z-index: 1;
}

#posting-screen {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 4;
}

#posting-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.posting-modal {
  background-color: var(--surface);
  color: var(--on-surface);
  padding: 10px;
  width: 100%;
  max-width: 800px;
}

.modal-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30px;
}

.posting-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posting-topic {
  padding: 5px;
  font-size: 15px;
}

.posting-message {
  padding: 5px;
  font-size: 15px;
  height: 300px;
}

.posting-captcha {
  padding: 5px;
  font-size: 15px;
}

.posting-captcha-container {
  width: 250px;
}

.posting-captcha-btn {
  width: calc(100% - 10px);
  color: var(--on-primary);
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
  border-radius: 3px;
  height: 30px;
}

.posting-captcha {
  height: 30px;
  width: 100%;
}

#captcha {
  grid-template-columns: min-content 1fr;
  gap: 5px;
}

.modal-bottom {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.file-picker-container {
  display: flex;
  gap: 5px;
}

.file-chooser-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--primary);
}

#file-chosen {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hoverable:hover {
  color: var(--primary);
}

@media only screen and (max-width: 768px) {
  .board-head,
  .board-selector {
    padding: 0px 15px
  }

  .board-head-container {
    width: calc(100vw - 30px);
  }

  .catalog {
    padding: 10px 15px;
    grid-template-columns: repeat(2, 1fr);
  }

  .posting-message {
    height: 200px;
  }

  #file-chosen {
    width: calc(100vw - 120px);
  }

  #captcha {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .catalog {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 2000px) and (max-width: 2500px) {
  .catalog {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (min-width: 2500px) and (max-width: 3000px) {
  .catalog {
    grid-template-columns: repeat(9, 1fr);
  }
}

@media only screen and (min-width: 3000px) {
  .catalog {
    grid-template-columns: repeat(10, 1fr);
  }
}

/*------------------------------- thread.stpl --------------------------------*/

.thread {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  padding: 0px 20px;
}

.thread-post {
  display: flex;
  flex-direction: column;
  color: var(--on-surface);
  background-color: var(--surface);
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
}

.post-id,
.username {
  color: var(--primary);
}

.post-message {
  white-space: pre-line;
  word-break: break-word;
}

.thread-post-file-info {
  font-size: small;
  word-break: break-word;
}

.post-info {
  word-break: break-word;
}

.thread-post-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.thread-post-body {
  display: flex;
  flex-direction: column;
}

.thread-post-file {
  margin-right: 5px;
}

.reply {
  color: var(--on-surface);
  background-color: var(--surface);
  padding: 10px;
  margin: 10px 20px;
  border-radius: 5px;
}

.reply-text {
  width: 100%;
  resize: vertical;
  font-size: 15px;
}

.thumbnail {
  width: 300px;
  max-width: calc(100vw - 65px);
}

.image-container-large {
  max-width: calc(100vw - 65px);
}

@media only screen and (max-width: 768px) {
  .thread {
    padding: 0px 15px;
  }

  .reply {
    margin: 10px 15px;
  }

  .thumbnail,
  .image-container-large {
    max-width: calc(100vw - 55px);
  }
}


.application-list {
  padding: 10px;
  background-color:#212121;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 7px;
}

.application-preview {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid white;
  color: white;
}

.pages {
  display: flex;
  gap: 5px;
}

.reply-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reply-form-btm {
  display: flex;
  justify-content: space-between;
}

.err-container {
  color: var(--primary);
  padding-bottom: 10px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.implying {
  color: green;
}

.backlink {
  color: var(--primary);
}