input[type="radio"] {
  appearance: none;
}

input[type="radio"]:checked {
  ~ .view-select-btn {
    border-bottom: 1px solid var(--secondary);
  }
}

.admin-page {
  color: var(--secondary);
  display: flex;
  flex-direction: column;
}

.admin-view-select {
  display: flex;
}

.view-select-btn {
  display: inline-block;
  padding: 15px;
}