.apply-page {
  padding: 15px;
  color: var(--secondary);
}

.apply-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.apply-head {
    padding: 15px 0;
}

.apply-btn {
    padding: 10px;
}