.login-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    color: var(--secondary);
    height: 100%;
}

.login-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-img {
    height: 100%;
    width: auto;
}

.text-field {
    padding: 10px;
    font-size: 15px;
}

.login-btn {
    padding: 10px;
}